[Unit]
Description=GalliumOS system customization for Apollo Lake models

[Service]
ExecStart=/usr/bin/init-apollolake-settings
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
